html,
body {
  position: relative;
  width: 100%;
  min-height: 100%;
}

body {
  color: #fff;
  background-color: #222;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: "Inconsalata", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1.5rem;
  border-bottom: 1px solid #999;
  transition: border-color 0.2s linear;
}

a:hover {
  border-color: #fff;
}

@font-face {
  font-family: "Inconsalata";
  font-display: swap;
  src: url("./assets/fonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Alegreya";
  src: url("./assets/fonts/AlegreyaSansSC-Thin.ttf") format("truetype");
}
